@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c3d281;
  --secondary: #c1bc9b;
  --terciary: #26291a;
  --surface: #bbafa5;
  --variant: #cccccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
    --primary: #687437;
    --secondary: #a09258;
    --terciary: #3a3d27;
    --surface: #5a4234;
    --variant: #b0afbd;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, inter, archivo;
}
